<form action='/store-sessions' method='post'>
    <input type='date' name='checkin'>
    <input type='date' name='checkout'>
        <label for="guests">Number of guests:</label>
        <select name="guests" id="guests">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="4">5</option>
        </select>
</form>
<a href='https://www.bbc.co.uk/'> 
    <button> Request for booking </button> 
</a>
