<h1>
  Welcome, <%= @user.email %>
</h1>
 
  <form action='/booking' method='post'>
  <input type='submit' value='book a space'>
</form>

  <form action='https://www.bbc.co.uk/' method='get'>
  <input type='submit' value='add a space'>
</form>

<a href='https://www.bbc.co.uk/'> 
<button> List of confirmed bookings for users </button> 
</a>

<a href='https://www.bbc.co.uk/'> 
<button> List of added properties for user </button> 
</a>
