<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content=width=device-width, initial-scale=1>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Cabin|Roboto:400,700|Roboto+Condensed:400,700" rel="stylesheet">
    <title>Makers BnB</title>
  </head>
  <body>
    <section class="main">
      <div class="col-lg-12">
        <%= yield %>
      </div>
    </section>

    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>