<ul>
  <% @properties.each do |property| %>
    <li><%= property.name %></li>
    <ul>
      <li>Description: <%= property.description %></li>
      <li>Location: <%= property.location %></li>
      <li>Cost: £<%= property.price %> per night</li>
    </ul>
  <% end %>
</ul>
